@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

/* #38b6ff */
/* #acb3b6 */

@theme {
    --font-rb: "Roboto", system-ui; 
    --font-anton: "Anton", system-ui;   
    --font-inter: "Inter", system-ui;
}

.contentBtns {
    @apply bg-blue-200 p-1.5 rounded-full;
}

.btn {
    @apply bg-[#38b6ff] p-1.5 rounded-full font-inter font-[700] cursor-pointer text-white;
}

.lineMenuMobile {
    @apply bg-[#38b6ff] h-1 w-8 m-1.5 rounded-full;
}

.btn0 {
    @apply bg-transparent;
}

.linkMenu {
    @apply font-inter;
}


.navForm {
    @apply flex flex-col items-center;
}

.secao {
    @apply px-10;
}

.cardHome {
    @apply border-blue-200 border-2 p-2.5;
}

.navPlanningTrip {
    @apply flex flex-col items-center gap-2 m-2 justify-between text-center p-1.5 ;
}

.navPlanningTrip input[type="text"] {
    @apply text-center outline-0 border-x-0 border-t-0 border-b-[#96A7B4] border-2;
}

.navPlanningTrip input[type="radio"] {
    @apply hidden;
}

.navPlanningTrip input[type="radio"]:checked + .labelCustom {
    @apply  text-white bg-[#38b6ff];
}

.navPlanningTrip .labelCustom{
    @apply p-1.5 m-1.5 rounded-full border-2 border-[#38b6ff] font-inter font-medium shadow-[#38b6ff] shadow-[10px] cursor-pointer;
}

.contentInputsLabel {
    @apply flex flex-wrap items-center justify-center;
}

.labelTitle {
    @apply font-inter font-bold;
}

.colunaForm {
    @apply flex flex-col;
}

.menu.active .navLinksMenu {
    @apply pointer-events-auto translate-y-0;
}

.navInputsLabelFormLogin {
    @apply flex flex-col-reverse pt-7;
}

.navInputsLabelFormLogin label {
    @apply font-inter font-bold text-[9pt] ease-in-out duration-100 delay-75;
}

.navInputsLabelFormLogin input {
    @apply outline-0 border-b-2 border-b-[#38b6ff] w-[95%];
}

.navInputsLabelFormLogin input:focus + label {
    @apply text-[#38b6ff];
}

.forms {
    @apply md:flex md:items-center md:justify-center md:bg-white m-4 border-2 border-[#38B6FF] p-[25px] backdrop-blur-xs md:w-[60%] bg-white;
}